nav {
    font-family: 'PT Sans', sans-serif;
}
.nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: em(15);
    a {
        color: #fff;
        text-decoration: none;
    }
    @include respond-to(900){
        top: em(30);
        left: em(30);
        width: $nav_width;
        background-color: transparent;
        padding: em(12) 0;
        .nav_toggle {
            display: none;
        }
        .nav {
            display: block !important;
        }
        .nav_link {
            border-bottom: 1px solid #000;
            &:first-child {
                border-top: 1px solid #000;
            }
        }
        a {
            color: #000;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav_link a {
    display: block;
    width: 100%;
    padding: em(10);
}